<div class="content">
  <h3>Project Title: <%= @project.title %></h3>

  <h3>Project Volunteers:</h3>

    <% if @project.volunteers.length > 0 %>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Volunteer Name</th>
          <th>Volunteer Hours</th>
        </tr>
      </thead>
      <tbody>
        <% @project.volunteers.each do |volunteer| %>
        <tr>
          <td><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></td>
          <td><%= volunteer.hours %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>There are no volunteers listed for this project yet.</p>
    <% end %>

  <h4>Add a volunteer:</h4>

  <form action="/projects/<%= @project.id %>/volunteers" method="post">
    <div class="form-group">
      <label for="name">Volunteer name</label>
      <input id="name" name="name" class="u-full-width" type="text">
    </div>
    <button type="submit" class="btn">Add Volunteer</button>
  </form>
  <a href="/projects/<%= @project.id() %>/edit" class="button">Edit Project</a>
  <br>

  <p><a href="/projects">Back to Project List</a></p>

</div>
